<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>Add word</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> 
    <header th:replace="~{fragments :: header}"></header>
    <body>
    <div class="container mt-5">    

        <form class="row g-4 p-4 shadow rounded-4" th:object="${card}" th:action="@{/deck/{id}/addword(id=${deck.deckid})}" method="post">
            
            <div class="col-12"><h3 class="fw-bold mb-4">Add word to: <span th:text="${deck.name}"></span></h3></div>

                <div class="col-md-6">
                <label for="targetword"><b>Target word</b></label>
                <input type="text" id="targetword" class="form-control" th:field="*{targetWord}" placeholder="Write target word"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('targetWord')}" th:errors="*{targetWord}">Error</div>
                </div>

                <div class="col-md-6">
                <label for="translation"><b>Translation</b></label>
                <input type="text" id="translation" class="form-control" th:field="*{translation}" placeholder="Write translation"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('translation')}" th:errors="*{translation}">Error</div>
                </div>

                <div class="col-12">
                <label for="sentence"><b>Sentence</b></label>
                <input type="text" id="sentence" class="form-control" th:field="*{sentence}" placeholder="Write example sentence"/></br>
			    </div>

                <div class="col-12">
                <input type="submit" value="Add word" class="btn btn-success"></input>
                </div>
        </form>
        
    </div>
    </body>
    <footer th:replace="~{fragments :: footer}"></footer>
</html>