<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>Community Decks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> 
    <header th:replace="~{fragments :: header}"></header>
    <body>
    <div class="container mt-5">

        <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Community Decks</h2>
        <a sec:authorize="${hasAuthority('ADMIN')}"  th:href="@{/create}" class="btn btn-outline-success">+ Create Community Deck</a>
        </div>    

        <table class="table table-hover align-middle mb-0 shadow-sm">
            <thead class="table-light">
            <tr>
            <th>Name</th>
            <th>Target Language</th>
            <th>Translation</th>
            <th>Word Count</th>
            <th class="text-end">Actions</th>
            </tr>
            </thead>

            <tr th:each = "deck : ${decks}">
                <td th:text="${deck.name}"></td>
                <td th:text="${deck.targetLanguage}"></td>
                <td th:text="${deck.translationLanguage}"></td>
                <td th:text="${deck.wordcount}"></td>
                <td class="text-end"><a sec:authorize="hasRole('ADMIN')" th:href="@{/deck/{id}/addword(id=${deck.deckid})}" class="btn btn-success">Add word</a>
                <a sec:authorize="${hasAuthority('ADMIN')}" th:href="@{/deck/{id}/addword(id=${deck.deckid})}" class="btn btn-success">Add word</a>
                <a sec:authorize="${hasAuthority('ADMIN')}" th:href="@{/edit/{id}(id=${deck.deckid})}" class="btn btn-success">Edit</a>
                <a sec:authorize="${hasAuthority('ADMIN')}" th:href="@{/delete/{id}(id=${deck.deckid})}" class="btn btn-danger">Delete</a>
                <form sec:authorize="${hasAuthority('USER')}" th:object="${deck}" th:action="@{/deck/{id}/join(id=${deck.deckid})}" method="post" >
                <input type="submit" value="+ Join deck" class="btn btn-success"></input>
                </form></td>

            </tr>
        </table>
 
    </div>
    </body>
    <footer th:replace="~{fragments :: footer}"></footer>
</html>