<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>Create Deck</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header th:replace="~{fragments :: header}"></header>
<body>
    <h1>Create Deck</h1>
    <div class="form-group">
        <form th:object="${deck}" th:action="@{savedeck}" action="#" method="post">
            <div class="col-sm-3">
            <label for="name"><b> Name</b></label>
            <input type="text" id="name" class="form-control" th:field="*{name}"/></br>
            </div>
            <div class="col-sm-3">
            <label for="targetlanguage"><b> Target language</b></label>
            <input type="text" id="targetlanguage" class="form-control" th:field="*{targetLanguage}"/></br>
            </div>
            <div class="col-sm-3">
            <label for="translationlanguage"><b> Translation language</b></label>
            <input type="text" id="translationlanguage" class="form-control" th:field="*{translationLanguage}"/></br>
			</div>
            <input type="submit" value="Save" class="btn btn-success"></input>
        </form>
    </div>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>